# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Build and packaging
build/
dist/
*.egg-info/

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Environment
.env
.env.*

# Logs
*.log

# Project docs
docs/
